<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Cats!</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <iframe src="https://giphy.com/embed/lJNoBCvQYp7nq" width="480" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/reddit-doing-lJNoBCvQYp7nq">via GIPHY</a></p>
</body>
</html>